body::before {
  height: 58px;
  content: "";
  display: block;
}

.col-12::before {
  height: 58px;
  content: "";
  display: block;
}

h2 {
  color: #E024A5
}

.h2 {
  color: #E024A5
}

.body-copy p,
.body-copy li,
.body-copy figure {
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.body-copy li {
  margin-bottom: 15px;
}

.body-copy blockquote {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-copy h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  line-height: 2rem;
}

.body-copy a {
  color: #E0A63A;
  font-weight: 600;
  text-decoration: none;
}

.body-copy a:hover {
  color: #E0A63A;
}

.body-copy .table {
  margin: 20px 0px;
  font-size: 1.1rem;
}

.body-copy .table li {
  color: inherit;
  line-height: 1.4rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 960px) {

  .body-copy .table,
  .body-copy .table td,
  .body-copy .table th,
  .body-copy .table li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 800px) {

  .body-copy .table,
  .body-copy .table td,
  .body-copy .table th,
  .body-copy .table li {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

/*
Share Ownership
*/
#maths .row.border-bottom {
  padding-bottom: 1.5%;
  border-bottom: 1px solid #6c757d !important;
}

.navbar .border-bottom {
  border-bottom: 1px solid #6c757d !important;
}

.form-switch {
  padding-left: 3em;
}

.ownership-left {
  width: 47%;
}

.ownership-center {
  width: 33%;
}

.ownership-right {
  width: 20%;
}

@media (max-width: 1199px) {
  .ownership-left {
    width: 43%;
  }

  .ownership-center {
    width: 33%;
  }

  .ownership-right {
    width: 24%;
  }
}

@media (max-width: 900px) {
  .ownership-left {
    width: 47%;
  }

  .ownership-center {
    width: 33%;
  }

  .ownership-right {
    width: 20%;
  }
}


@media (max-width: 600px) {
  .ownership-left {
    width: 48%;
  }

  .ownership-right {
    width: 19%;
  }
}



/* #helpModalBody p {
  font-size: 1.4rem;
} */

::selection {
  background: #93186c;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #93186c;
  /* Gecko Browsers */
}

a {
  color: #E024A5;
}

.ctaButton {
  background-color: #93186c;
  border-color: #93186c;
}

.ctaButton:hover {
  background-color: #E024A5;
  border-color: #E024A5;
}

.navbar-nav .active {
  color: #E0A63A !important;
}

#chartLogToggle:checked {
  background-color: #800;
}

#chartLogToggle {
  background-color: #333;
}

#insiderSwitch:checked {
  background-color: #F0DC46
}

#insiderSwitch {
  background-color: #333;
}

#stagnantSwitch:checked {
  background-color: #E0A63A
}

#stagnantSwitch {
  background-color: #333;
}

#etfSwitch:checked {
  background-color: #11979C;
}

#etfSwitch {
  background-color: #333;
}

#mfSwitch:checked {
  background-color: #6FA142;
}

#mfSwitch {
  background-color: #333;
}

#instOtherBtn:checked {
  background-color: #094D4F;
}

#instOtherBtn {
  background-color: #333;
}

#apesSwitch:checked {
  background-color: #93186c;
}

#apesSwitch {
  background-color: #333;
}

#main {
  height: 100%;
}

html,
body {
  font-size: .875rem;
  height: 100%;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
}

#footerRow {
  margin: 40px 0px 30px;
  padding: 0;
  font-size: 1rem;
  height: 180px;
}

.container-xxl {
  max-width: 85%;
}

@media (max-width: 830px) {
  .container-xxl {
    max-width: 90%;
  }
}

@media (max-width: 650px) {
  .container-xxl {
    max-width: 97%;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .container-xxl {
    max-width: 100%;
    padding: 8px;
  }
}

.text-right {
  text-align: right;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #AAA;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #93186c;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.dead-pixel-clickable {
  height: 0px;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 150px;
  padding: 3px;
  left: calc(100vw - 100px);
  cursor: pointer;
  z-index: 1000;
}

.dead-pixel {
  background-color: #fff;
  width: 0px;
  height: 0px;
  opacity: 1;
}

/*
Assert
*/
.assert-options {
  padding: 30px 0px;
}

.assert-options li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1450px;
  color: rgba(255, 255, 255, .7);
  line-height: 2.5rem;
  align-content: center;
  align-items: center;
}

.assert-options li:hover {
  color: rgba(255, 255, 255, 1);
}

.assert-options li span {
  padding-right: 40px;
}

.assert-options li .btn {
  min-width: 250px;
  font-size: 1.2rem;
  height: 40px;
}


.assert-options li .input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 350px;
  width: 350px;
  height: 40px;
}

@media (max-width: 1715px) {

  .assert-options li .btn,
  .assert-options li .input-group {
    height: 50px;
  }
}


@media (max-width: 1023px) {

  .assert-options li .btn,
  .assert-options li .input-group {
    height: 60px;
  }
}

@media (max-width: 800px) {
  .assert-options li {
    flex-direction: column;
  }

  .assert-options li span {
    line-height: 1.9rem;
    margin-bottom: 15px;
  }

  .assert-options li span,
  .assert-options li a {
    min-width: 100%;
    width: 100%;
    padding: 0;
  }

  .assert-options li .btn,
  .assert-options li .input-group {
    min-width: 100%;
    width: 100%;
  }

  .assert-options li .input-group .btn {
    min-width: 66%;
    width: 66%;
  }

  .assert-options li .input-group .input {
    min-width: 34%;
    width: 34%;
    max-width: 34%;
  }
}